    <div class="header">
      <div class="container-fluid">
        <div class="col-xs-6 col-xs-offset-3" id="header-text">
          <h1>book club</h1>
          <h3>find what to read next</h3>
            <form id="search-bar" role="search" action="/search/new" method="get" id="search-bar">
              <div class="form-group">
                <input type="text" class="search-db form-control" id="_search" name="[search]" placeholder="Search">
              </div>
              <div class="form-group">
                <button type="submit" id="search-button" data-toggle="modal" data-target="#myModal" class="btn btn-default">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>