    <div class="header">
      <div class="container-fluid">
        <div class="col-xs-6 col-xs-offset-3" id="header-text">
          <h1>book club</h1>
          <h3>find what to read next</h3>
          </div>
        </div>
      </div>