.header {
  height: 275px;
}

.header h1 {
  font-size: 65px;
  text-align: center;
  font-family: 'Helvetica', sans-serif;
}

.book {
  height: 265px;
  width: 175px;
  margin: 10px;
  /*box-shadow: 3px 3px 5px 6px #ccc;*/
}


.navbar-form {
  margin-top: 0;
}

/* queue button */
#queue-it {
  margin-left: 10px;
}

#convo-hed {
  margin-top: 50px;
  height: 100px;
  background-color: #33353D;
  color: white;
}


.form-group {
  color: white;
  margin-top: 30px;
}

#discussions {
  height: 700px;
  background-color: #33353D;
}

.all-comments h4 {
  border-bottom: 1px solid grey;
}



.all-comments {
  margin-top: 55px;
  padding: 15px;
  background-color: white;
  /*border: 1px solid grey;*/
  height: 500px;
  overflow: scroll;
  overflow-x: hidden;
}

