.jumbotron {
  height: 250px;
  background-color: #C279CC;
}

.jumbotron h1 {
  text-align: center;
}

.book {
  height: 265px;
  width: 175px;
  margin: 10px;
  /*box-shadow: 3px 3px 5px 6px #ccc;*/
}

#popover {

}