// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-fluid {
  color: #373740;
  font-family: 'Quicksand', sans-serif;
}

#row-1 {
  background-color: #DBDDFF;
  height: 275px;
}

.join {
  margin-top: 60px;
}

.join li {
  margin-top: 10px;
  font-size: 16px;
}

#user-profile-pic {
  height: 150px;
  width: 150px;
  border: 4px solid white;
  border-radius: .2em;
  margin: 10px;
}

#user-name {
  margin-left: 4px;
}

#books-read {
  margin-left: 4px;
}

#current-book {
  margin-left: 4px;
}