<!DOCTYPE html>
<html>
<head>
  <title>BookClubApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!-- bootstrap -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- jquery library -->
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

  <!-- fancyBox -->
  <link rel="stylesheet" href="../../../vendor/assets/stylesheets/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
  <script type="text/javascript" src="../../../vendor/assets/javascripts/jquery.fancybox.pack.js?v=2.1.5"></script>


</head>
<body>

<%= yield %>

</body>
</html>
